# Default values for this Helm Chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
# They can be overridden by user-supplied values file, such as -f values.yaml,
# which can in turn be overridden by --set parameters.

# www-data group for mounting files from secrets, configMaps
securityContext:
  fsGroup: 33

# --set deployment=false for cron-only projects , etc
deployment: true

# persistent volume
pvc:
  enabled: false
  name: "pvc-name"
  size: "100M"
  volumeName: data
  mountPoint: "/app/data"

global:
  env: "prod"
  onepassvault: "dev"

probes:
  enabled: true
startup_probe:
  enabled: true

onepass:
  enabled: false

replicaCount: 2

memcached:
  enabled: enabled
#  memorylimitApplication: 28
#  memorylimitContainer: 32Mi

yii:
  path: 'console/yii'

ingress:
  enabled: enabled

migrate:
  enabled: enabled

healthcheck:
  enabled: enabled

phptests:
  enabled: true
unittest:
  enabled: true
functionaltest:
  enabled: true
acceptancetest:
  enabled: false

selenium:
  enabled: false

image:
  tag: prod
  pullPolicy: IfNotPresent
  imagePullSecrets: gitlab
  registryfullpath: ''

ports:
  - name: http
    portNumber: 80
  - name: test
    portNumber: 8080

nodeSelector:
  name: doks.digitalocean.com/node-pool
  labels: services

nameOverride: ""
fullnameOverride: ""

tolerations: []

affinity: {}

